
.homeDetails {
    grid-column: center-start / center-end;
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.homeDetailsTop{
    display: flex;
    gap: 2rem;
}

.homeImg {
    width: 40%;
}

.homeImg img{
    width: 100%;
}

.homeInterduce{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.homeTitle{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.homeTitle h1{
    font-size: 2.5rem;
    display: flex;
    justify-content: space-between;
}

.tags{
    display: flex;
    gap: 1rem;
}

.tag{
    display: inline-block;
    padding: 0.2rem 1rem;
}

.greenTag{
    background-color: #61ce70;
    color: #fff;
}
.brownTag{
    background-color: var(--color-primary);
    color: #fff;
}

.homeReview{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.homeReviewTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ccc;
}

.home-review-bottom{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.homeDetailsDescription p:first-child{
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #ccc;
}

.homeDetailsDescription p:last-child{
    text-align: justify;
}